@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GenerateSuccess.ViewModels.NewAlarmVM
@{
    var act = "1";
}

<div id="addiv1"></div>
<div id="addiv2"></div>
<div id="adinarticle"></div>
<div id="newtaskdiv" class="container col-lg-12">
    <div id="chilnewtaskdiv" class="alarmnewdiv">
        <h3>@Localizer["1"]</h3>
        <form method="post" asp-controller="Alarm" asp-action="SaveAlarm" id="formid">
            <div class="inputdivparentname">
                <input class="effect inputsearch newtaskinputname" type="text" placeholder="@Localizer["2"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Localizer["2"]'" asp-for="AlarmName" name="AlarmName" />
                <span asp-validation-for="AlarmName" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" asp-for="Activity" value="@act" readonly />
            <div id="createfor">
                <span class="newtasktext">@Localizer["3"]:</span><br />
                <select id="createforralarm" class="form-control dropdownn" asp-for="CreatedFor" name="CreatedFor">
                    <option value="1">@Localizer["4"]</option>
                    <option value="2">@Localizer["5"]</option>
                </select>
                <br />
                <span asp-validation-for="CreatedFor" class="text-danger"></span>
                <div id="customcreateforalarm">
                    <span class="newtasktext">@Localizer["6"]:</span>
                    <br />
                    <br />
                    <div class="weekDays-selector">
                        <input type="checkbox" id="weekday-mona" class="weekday" asp-for="M" name="M" checked />
                        <label for="weekday-mona">@Localizer["Mon"]</label>
                        <input type="checkbox" id="weekday-tuea" class="weekday" name="T" asp-for="T" checked />
                        <label for="weekday-tuea">@Localizer["Tue"]</label>
                        <input type="checkbox" id="weekday-weda" class="weekday" name="W" asp-for="W" checked />
                        <label for="weekday-weda">@Localizer["Wed"]</label>
                        <input type="checkbox" id="weekday-thua" class="weekday" name="Th" asp-for="Th" checked />
                        <label for="weekday-thua">@Localizer["Thu"]</label>
                        <input type="checkbox" id="weekday-fria" class="weekday" name="F" asp-for="F" checked />
                        <label for="weekday-fria">@Localizer["Fri"]</label>
                        <input type="checkbox" id="weekday-sata" class="weekday" name="Sa" asp-for="Sa" checked />
                        <label for="weekday-sata">@Localizer["Sat"]</label>
                        <input type="checkbox" id="weekday-suna" class="weekday" name="S" asp-for="S" checked />
                        <label for="weekday-suna">@Localizer["Sun"]</label>
                    </div>
                    <br />
                    <span id="daysvalalarm" asp-validation-for="M" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <br />
            <div id="oncecreatedalarm">
                <div id="startdiv" class="startenddiv">
                    <span class="newtasktext">@Localizer["7"]:</span><br />
                    <div class="childstartendtimediv">
                        <div class="startendtimediv" style="margin-left:0;">
                            <input type="time" class="startendtime" name="RingingTime" asp-for="RingingTime" asp-format="{0:HH:mm}" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <span class="newtasktext">Sound:</span>
            <select id="AlarmSound" class="form-control" asp-for="Sound" name="Sound">
                <option value="1">@Localizer["8"]</option>
                <option value="2">@Localizer["9"]</option>
                <option value="3">@Localizer["10"]</option>
                <option value="4">@Localizer["11"]</option>
                <option value="5">@Localizer["12"]</option>
                <option value="6">@Localizer["13"]</option>
                <option value="7">@Localizer["14"]</option>
            </select>
            <span asp-validation-for="Sound" class="text-danger"></span>
            <br />
            <span class="newtasktext">@Localizer["15"]:</span>
            <select class="form-control" asp-for="RingingDuration" name="RingingDuration">
                <option value="1">@Localizer["16"]</option>
                <option value="3">@Localizer["17"]</option>
                <option value="5" selected>@Localizer["18"]</option>
                <option value="10">@Localizer["19"]</option>
                <option value="15">@Localizer["20"]</option>
                <option value="20">@Localizer["21"]</option>
                <option value="30">@Localizer["22"]</option>
            </select>
            <span asp-validation-for="RingingDuration" class="text-danger"></span>
            <br />
            <span class="newtasktext">@Localizer["23"]:</span>
            <select class="form-control" asp-for="SnoozeDuration" name="SnoozeDuration">
                <option value="5">@Localizer["24"]</option>
                <option value="10">@Localizer["25"]</option>
                <option value="15">@Localizer["26"]</option>
                <option value="20">@Localizer["27"]</option>
                <option value="25">@Localizer["28"]</option>
                <option value="30" selected>@Localizer["29"]</option>
            </select>
            <span asp-validation-for="SnoozeDuration" class="text-danger"></span>
            @if (!User.Identity.IsAuthenticated)
            {
                <br />
                <span class="helptext">@Localizer["30"] <a asp-controller="Account" asp-action="Login">@Localizer["31"]</a></span>
            }
            <br />
            <br />
            <button type="submit" class="btn savetaskbtn">@Localizer["32"]</button>
            <br />
        </form>
    </div>
</div>


