@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info" role="alert" style="position: relative; background-color: rgba(40,40,40,1); width: 100%; margin: 0; text-align: left;">
        <div style="display:inline-block; width:85%; color:white; position:relative; left:0;">
            @Localizer["1"] <a asp-controller="Home" asp-action="Cookies">@Localizer["2"]</a> @Localizer["5"] <a asp-controller="Home" asp-action="Privacy">@Localizer["3"]</a>.
        </div>
        <div id="buttoncookie" style="display: inline-block; width: 10%; position:absolute; right:0;">
            <button type="button" class="accept-policy btn-primary" style="padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px; border-radius:5px;" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">@Localizer["4"]</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}