@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GenerateSuccess.ViewModels.LoginVM

@{
    var logindetailstext = @Model.Uncorrectdetails;
}

<div id="parentregisterdiv" class="container">
    <div id="userregisterdiv" class="user signupBx">
        <div id="formBx">
            <form asp-controller="Account" asp-action="Login" method="post">
                <h2 id="h2register">@Localizer["Login"]</h2>
                <input class="inputregister" type="text" name="UserName" placeholder="@Localizer["Username"]" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input class="inputregister" type="password" name="Password" placeholder="@Localizer["Password"]" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <input id="detailsnotcorrect" value="@logindetailstext" class="text-danger" readonly />

                <div id="loginrememberdiv">
                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" asp-for="RememberMe">@Localizer["RememberMe"]</label>
                </div>
                <button type="submit" class="inputregistersubmit">@Localizer["SignIn"]</button>
                <p class="signup">
                    @Localizer["1"] ?
                    <a asp-controller="Account" asp-action="Register">@Localizer["SignUp"].</a>
                </p>
            </form>
        </div>
        <div id="imgBx" class="loginphoto"></div>
    </div>
</div>