@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GenerateSuccess.ViewModels.MainHomePreviewVM
<div id="mainnotificationdiv" style="display:none;">
    <div id="tasknotificationdiv">
        @if (Model != null)
        {
            @if (Model.MainNotification != null)
            {
                @if (Model.MainNotification.TaskList.Any())
                {
                    @foreach (var item in Model.MainNotification.TaskList)
                    {
                        <div class="tasknotification">
                            <input asp-for="@item.Key" type="text" readonly />
                            <input type="text" readonly asp-for="@item.TaskName" />
                            <input asp-for="@item.StartTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.StartTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.EndTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.EndTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.LastNotification" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.LastNotification" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.NotificationEvery" type="number" readonly />
                            <input asp-for="@item.Priority" type="text" readonly />
                            <input asp-for="@item.SoundName" type="text" readonly />
                            <input asp-for="@item.Days" type="text" readonly />
                            <input asp-for="@item.CreatedFor" type="text" readonly />
                            <input asp-for="@item.Stats" type="text" readonly />
                            <input asp-for="@item.AcceptedNotification" type="text" readonly />
                            <input asp-for="@item.Rated" type="text" readonly />
                        </div>
                    }
                }
            }
        }
    </div>
    <div id="alarmnotificationdiv">
        @if (Model != null)
        {
            @if (Model.MainNotification != null)
            {
                @if (Model.MainNotification.AlarmList.Any())
                {
                    @foreach (var item in Model.MainNotification.AlarmList)
                    {
                        <div class="alarmnotification">
                            <input asp-for="@item.Key" type="text" readonly />
                            <input asp-for="@item.AlarmName" type="text" readonly />
                            <input asp-for="@item.RingingTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.RingingTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.LastSnooze" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.LastSnooze" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.RingDuration" type="number" readonly />
                            <input asp-for="@item.SnoozeDuration" type="number" readonly />
                            <input asp-for="@item.SoundName" type="text" readonly />
                            <input asp-for="@item.Days" type="text" readonly />
                            <input asp-for="@item.CreatedFor" type="text" readonly />
                            <input asp-for="@item.LastAlarmRinging" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div id="loadtest" style="display:none;">
    Test
</div>
<div id="ads"></div>
<div id="parentmainmobilediv">
    <div class="mainmobilediv">
        <div class="addnewtaskalarmparent">
            <a asp-controller="Task" asp-action="NewTaskMobile" class="btn addnewtaskalarm">@Localizer["1"]</a>
        </div>
        <div class="smallsearchleftdiv">
            <button id="filtertext" class="smallsearchfiltertext" onclick="Close()">@Localizer["2"]</button>
        </div>
        <div id="smallsearchdiv">
            <div class="col-md-12 col-lg-4 smallchildfilterdiv">
                <form asp-controller="Home" asp-action="MobileTaskSearch" method="get">
                    <span class="researchtext">@Localizer["13"]:</span><br />
                    <input class="effect inputsearch" type="text" placeholder="@Localizer["3"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Localizer["3"]'" asp-for="TaskName" name="TaskName" />
                    <span class="text-danger" asp-validation-for="TaskName"></span>
                    <div id="status">
                        <span class="researchtext status">@Localizer["4"]:</span>
                        <div class="sel sel--black-panther">
                            <span class="arroww"></span>
                            <select class="smallprofessionselect" id="select-profession" asp-for="TaskStatus" name="TaskStatus">
                                <option value="0">@Localizer["5"]</option>
                                <option value="1">@Localizer["5"]</option>
                                <option value="2">@Localizer["6"]</option>
                                <option value="3">@Localizer["7"]</option>
                                <option value="4">@Localizer["8"]</option>
                            </select>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="TaskStatus"></span>
                    <div class="dateresearch">
                        <span class="researchtext">@Localizer["9"]:</span>
                        <input type="date" name="From" class="fromtoresearch" asp-for="From" asp-format="{0:yyyy-MM-dd}" />
                        <span asp-validation-for="From" class="text-danger"></span>
                        <span class="researchtext">@Localizer["10"]:</span>
                        <br />
                        <input type="date" name="To" class="fromtoresearch" asp-for="To" asp-format="{0:yyyy-MM-dd}" />
                        <span asp-validation-for="To" class="text-danger"></span>
                    </div>
                    <div class="btnsearchdiv">
                        <button type="submit" class="btn btnsearch">@Localizer["11"]</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="smallsearchcontainer" class="col-lg-12 searchcontainer">
            <div class="col-lg-12 maintaskalarm">
                @if (Model != null)
                {
                    @if (Model.TaskList.Any())
                    {
                        @foreach (var item in Model.TaskList)
                        {
                            @if (item.Status != "Finished!" || item.CreatedFor == "2")
                            {
                                <div class="task">
                                    <div class="col-lg-10 col-md-10 parentmainsearchdiv">
                                        <div class="statusdiv"><span class="statustext">@Localizer["4"]:</span><span class="statusundertext">@Localizer[@item.Status]</span></div>
                                        <div class="maintaskdiv"><span class="nameofthetask">@item.TaskName</span></div>
                                        <div class="prioritytaskdiv"><span class="prirotytext">@Localizer[@item.DateDayStarting]</span><span class="priorityundertext">@item.TimeStarting</span></div>
                                    </div>
                                    <div class="editdeletetaskdiv">
                                        <form asp-controller="Task" asp-action="EditTaskMobile" method="post">
                                            <input type="hidden" value="@item.Key" name="Key" />
                                            <div class="editdiv"><button type="submit" class="button touch edit editbtn"></button></div>
                                        </form>
                                        <div class="closediv closetaskdiv">
                                            <a class="button touch delete deletebtn"></a>
                                            <input type="hidden" value="@item.Key" />
                                            <input type="hidden" value="@item.TaskName" />
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="task">
                                    <div class="col-lg-10 col-md-10 parentmainsearchdiv">
                                        <div class="statusdiv"><span class="statustext">@Localizer["4"]:</span><span class="statusundertext">@Localizer[@item.Status]</span></div>
                                        <div class="maintaskdiv"><span class="nameofthetask">@item.TaskName</span></div>
                                        <div class="prioritytaskdiv"><span class="prirotytext">@Localizer[@item.DateDayStarting]</span><span class="priorityundertext">@item.TimeStarting</span></div>
                                    </div>
                                    <div class="editdeletetaskdiv">
                                        <div class="editdiv editfinishedtask">
                                            <button type="submit" class="button touch edit editbtn"></button>
                                            <input type="hidden" value="@item.TaskName" />
                                        </div>
                                        <div class="closediv closetaskdiv">
                                            <a class="button touch delete deletebtn"></a>
                                            <input type="hidden" value="@item.Key" />
                                            <input type="hidden" value="@item.TaskName" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="col-lg-12 col-md-12 successcontaner">
            <div class="class-lg-12" id="successdiv"><span class="successfulltext">@Localizer["12"]:</span><span class="successpercentage">@Model.Success</span></div>
        </div>
    </div>
</div>