@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GenerateSuccess.ViewModels.MainHomePreviewVM


<div id="mainnotificationdiv" style="display:none;">
    <div id="tasknotificationdiv">
        @if (Model != null)
        {
            @if (Model.MainNotification != null)
            {
                @if (Model.MainNotification.TaskList.Any())
                {
                    @foreach (var item in Model.MainNotification.TaskList)
                    {
                        <div class="tasknotification">
                            <input asp-for="@item.Key" type="text" readonly />
                            <input type="text" readonly asp-for="@item.TaskName" />
                            <input asp-for="@item.StartTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.StartTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.EndTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.EndTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.LastNotification" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.LastNotification" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.NotificationEvery" type="number" readonly />
                            <input asp-for="@item.Priority" type="text" readonly />
                            <input asp-for="@item.SoundName" type="text" readonly />
                            <input asp-for="@item.Days" type="text" readonly />
                            <input asp-for="@item.CreatedFor" type="text" readonly />
                            <input asp-for="@item.Stats" type="text" readonly />
                            <input asp-for="@item.AcceptedNotification" type="text" readonly />
                            <input asp-for="@item.Rated" type="text" readonly />
                        </div>
                    }
                }
            }
        }
    </div>
    <div id="alarmnotificationdiv">
        @if (Model != null)
        {
            @if (Model.MainNotification != null)
            {
                @if (Model.MainNotification.AlarmList.Any())
                {
                    @foreach (var item in Model.MainNotification.AlarmList)
                    {
                        <div class="alarmnotification">
                            <input asp-for="@item.Key" type="text" readonly />
                            <input asp-for="@item.AlarmName" type="text" readonly />
                            <input asp-for="@item.RingingTime" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.RingingTime" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.LastSnooze" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                            <input asp-for="@item.LastSnooze" type="time" asp-format="{0:HH:mm}" readonly />
                            <input asp-for="@item.RingDuration" type="number" readonly />
                            <input asp-for="@item.SnoozeDuration" type="number" readonly />
                            <input asp-for="@item.SoundName" type="text" readonly />
                            <input asp-for="@item.Days" type="text" readonly />
                            <input asp-for="@item.CreatedFor" type="text" readonly />
                            <input asp-for="@item.LastAlarmRinging" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div id="loadtest" style="display:none;">
    Test
</div>
<div id="ads"></div>
<div id="parentmainmobilediv">
    <div class="mainmobilediv">
        <div class="addnewtaskalarmparent">
            <a asp-controller="Alarm" asp-action="NewAlarmMobile" class="btn addnewtaskalarm">@Localizer["1"]</a>
        </div>
        <div class="smallsearchrightdiv">
            <button id="filtertexttwo" class="smallsearchfiltertext" onclick="Close1()">@Localizer["2"]</button>
        </div>
        <div id="smallsearchdivright">
            <div id="rightsearchdivsmall" class="col-lg-4 col-md-12 searchtaskchilddiv">
                <form asp-controller="Home" asp-action="AlarmSearchMobile" method="get">
                    <span class="researchtext">@Localizer["3"]:</span><br />
                    <div id="status">
                        <span class="researchtext status">@Localizer["4"]:</span>
                        <div class="sel sel--black-panther rightdivsearch">
                            <span class="arroww"></span>
                            <select name="AlarmStatus" asp-for="AlarmStatus" class="smallprofessionselectalarm">
                                <option value="0">@Localizer["5"]</option>
                                <option value="1">@Localizer["5"]</option>
                                <option value="2">@Localizer["6"]</option>
                                <option value="3">@Localizer["7"]</option>
                            </select>
                        </div>
                    </div>
                    <div id="daysearch">
                        <span class="researchtext status">@Localizer["8"]:</span><br />
                        <div id="customcreateforright">
                            <div class="weekDays-selector">
                                @if (Model.M == "true")
                                {
                                    <input type="checkbox" id="weekday-mon" class="weekday" asp-for="M" name="M" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-mon" class="weekday" asp-for="M" name="M" />
                                }
                                <label for="weekday-mon">@Localizer["Mon"]</label>
                                @if (Model.T == "true")
                                {
                                    <input type="checkbox" id="weekday-tue" class="weekday" asp-for="T" name="T" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-tue" class="weekday" asp-for="T" name="T" />
                                }
                                <label for="weekday-tue">@Localizer["Tue"]</label>
                                @if (Model.W == "true")
                                {
                                    <input type="checkbox" id="weekday-wed" class="weekday" asp-for="W" name="W" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-wed" class="weekday" asp-for="W" name="W" />
                                }
                                <label for="weekday-wed">@Localizer["Wed"]</label>
                                @if (Model.Th == "true")
                                {
                                    <input type="checkbox" id="weekday-thu" class="weekday" asp-for="Th" name="Th" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-thu" class="weekday" asp-for="Th" name="Th" />
                                }
                                <label for="weekday-thu">@Localizer["Thu"]</label>
                                @if (Model.F == "true")
                                {
                                    <input type="checkbox" id="weekday-fri" class="weekday" asp-for="F" name="F" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-fri" class="weekday" asp-for="F" name="F" />
                                }
                                <label for="weekday-fri">@Localizer["Fri"]</label>
                                @if (Model.Sa == "true")
                                {
                                    <input type="checkbox" id="weekday-sat" class="weekday" asp-for="Sa" name="Sa" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-sat" class="weekday" asp-for="Sa" name="Sa" />
                                }
                                <label for="weekday-sat">@Localizer["Sat"]</label>
                                @if (Model.S == "true")
                                {
                                    <input type="checkbox" id="weekday-sun" class="weekday" asp-for="S" name="S" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="weekday-sun" class="weekday" asp-for="S" name="S" />
                                }
                                <label for="weekday-sun">@Localizer["Sun"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="btnsearchdiv">
                        <button type="submit" class="btn btnsearch">@Localizer["9"]</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="mobilesearchcontainer" class="col-lg-12 searchcontainer">
            <div class="col-lg-12 maintaskalarm">
                @if (Model != null)
                {
                    @if (Model.AlarmList != null)
                    {
                        @if (Model.AlarmList.Any())
                        {
                            @foreach (var item in Model.AlarmList)
                            {
                                <div class="task">
                                    <div class="col-lg-10 col-md-10 parentmainsearchdiv">
                                        <div class="statusdiv"><span class="statustext">@Localizer["4"]:</span><span class="statusundertext">@Localizer[@item.Status]</span></div>
                                        <div class="maintaskdiv"><span class="nameofthetask">@item.AlarmName</span></div>
                                        <div class="prioritytaskdiv"><span class="prirotytext">@Localizer[@item.DateDayStarting]</span><span class="priorityundertext">@item.TimeStarting</span></div>
                                    </div>
                                    <div class="editdeletetaskdiv">
                                        <form asp-controller="Alarm" asp-action="EditAlarmMobile" method="post">
                                            <input type="hidden" value="@item.Key" name="Key" />
                                            <div class="editdiv"><button type="submit" class="button touch edit editbtn"></button></div>
                                        </form>
                                        <div class="closediv closealarmdiv">
                                            <a class="button touch delete deletebtn"></a>
                                            <input type="hidden" value="@item.Key" />
                                            <input type="hidden" value="@item.AlarmName" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>